@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">测试页</h1>
    <p><a href="~/Home/WinSocketClent">WinSocket对应的客户端</a></p>
    <p><a href="~/Home/SocketClent">Socket对应的客户端</a></p>
</div>
